#app-container {
    display:none;
}

#results {
    display:flex;
    flex-wrap:wrap;
}

.img-thumb {
    max-width:100px;
    padding:20px;
    margin:5px;
    white-space:normal;
}

.img-thumb:hover {
    background-color:aliceblue;
    cursor:pointer;
}

.svg-name {
    font-size:7pt;
    white-space:normal;
}

.img {
    width:100%;
}

#problem {
    color:red;
}
